<div class="card shadow mb-4" id="page-top">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thiết bị thuộc phòng: {{room.name}}</h6>
        <input id="RoomId" type="hidden" value="{{room._id}}">
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Trạng thái</th>
                        <th>Tên thiết bị</th>
                        <th>Loại thiết bị</th>
                        <th>Ngày thêm vào phòng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="deviceList">
                    {{#each room.devices}}
                    <tr>
                        <td>{{increment @index}}</td>
                        <td class="{{#if (eq this.status 'Mới')}}text-primary{{else}}{{#if (eq this.status 'Hoạt động')}}text-success{{else}}{{#if (eq this.status 'Đang sử dụng')}}text-warning{{else}}{{#if (or (eq this.status 'Hỏng') (eq this.status 'Bảo trì'))}}text-danger{{/if}}{{/if}}{{/if}}{{/if}}">
                        {{ this.status}}
                        </td>
                        <td>{{this.device.name}}</td>
                        <td>{{this.device.category}}</td>
                        <td>{{formatDate this.created_at}}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img width="30px" src="/img/dotsMenu.png" alt="">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    
                                    <a class="dropdown-item" href="/deviceToRoom/viewRoomTranfer/{{this._id}}"><i class="fa-regular fa-pen-to-square"></i> Chuyển phòng</a>
                                    <a class="dropdown-item" onclick="confirmDelete('{{this._id}}')"><i class="fa-regular fa-trash-can"></i> Xoá</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a href="/deviceToRoom/home" class="btn btn-secondary">Quay lại</a>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        window.roomId = window.location.pathname.split('/').pop(); 
    });
    function confirmDelete(deviceItemId) {
        console.log(deviceItemId);
        Swal.fire({
            title: "Xoá thiết bị này ra khỏi phòng?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Đồng ý',
            cancelButtonText: 'Hủy',
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/api/room/${window.roomId}/remove-device`, { 
                    method: 'PUT',
                    headers: {
                        "Content-Type": "application/json" // Thêm header JSON
                    },
                    body: JSON.stringify({ deviceItemId }) // Chuyển body thành JSON
                })
                    .then(response => response.ok ? response.json() : Promise.reject('Lỗi khi thực hiện hành động'))
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: `Thiết bị đã được xoá khỏi phòng !`,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => { if (data.success) location.reload(); });
                        } else {
                            Swal.fire({
                                title: 'Không thể thực hiện hành động!',
                                text: data.message || 'Đã xảy ra lỗi không xác định.',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    })
                    .catch(error => {
                        Swal.fire({ title: 'Có lỗi xảy ra!', icon: 'error', confirmButtonText: 'OK' })
                        console.log(error);
                    });
            }
        });
    }
</script>

